:root{
    --main-color: #48CFCB;
    --text-color: #229799;
    --background-color: #F5F5F5;
    --border-color: #cfcfcf;
    --font-family-primary: "Nunito", sans-serif;
    --font-family-secondary: "Rubik", sans-serif;
}

/* Estructures */
body{
    padding-left: 17.5rem;
    padding-right: 17.5rem;
    background-color: var(--background-color);
}
form{
    background-color: white;
    border: solid 1px black;
    padding-bottom: 30rem;
}
header{
    height: 6rem;
    background-color: var(--main-color);
    display: flex;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 2rem;
}

/* Textos */
h1{
    font-family: var(--font-family-primary);
    font-size: 2.5rem;
    margin-left: 2rem;
    align-items: center;
}
h2{
    font-family: var(--font-family-secondary);
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}
p{
    font-family: var(--font-family-primary);
}

/* Main */
.info{
    width: 25rem;
}
.info_title{
    margin-bottom: 1.5rem;
}
.login{
    width: 25rem;
}
.separador{
    margin-top: 2.5rem;
    height: 12.5rem;
    width: .1rem;
    background-color: var(--border-color);
}