:root {
    --main-color: #48CFCB;
    --text-color: #229799;
    --background-color: #F5F5F5;
    --button-color: #1d4ed8;
    --font-family-primary: "Nunito", sans-serif;
    --font-family-secondary: "Rubik", sans-serif;
}


/* Structures */
body {
    padding-left: 17.5rem;
    padding-right: 17.5rem;
    background-color: var(--background-color);
}
form {
    background-color: white;
    border: solid 1px black;
    padding-bottom: 22.5rem;
}
header {
    height: 6rem;
    background-color: var(--main-color);
    display: flex;
}
main {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: -1rem;
    gap: 2rem;
}

/* Labels */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #3b82f6;
}
a:hover {
    color: var(--button-color);
}

/* Buttons */
input[type="email"], input[type="password"] {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #1f2937;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.625rem;
    outline: none;
    box-sizing: border-box;
}
input[type="email"]:focus, input[type="password"]:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

button {
    color: #ffffff;
    background-color: var(--button-color);
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #1e40af;
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.3);
}


/* Texts */
h1 {
    font-family: var(--font-family-primary);
    font-size: 2.5rem;
    margin-left: 2rem;
    align-items: center;
}
h2 { 
    font-family: var(--font-family-secondary);
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}
p {
    font-family: var(--font-family-primary);
}


/* Main */
.info {
    width: 22.5rem;
    padding: 0rem;
}
.info_title {
    margin-bottom: 1.5rem;
}

.separador {
    margin-top: 2.5rem;
    height: 17.5rem;
    width: 1.25px;
    background-color: #dadada;
}

.login {
    width: 20rem;
    padding: 0rem;
}
.form-container {
    width: 15rem;
    display: flex;
    gap: 1rem;
}
.form_text {
    margin-bottom: .2rem;
}
.register {
    display: flex;
    justify-content: center;
    margin-right: 2.5rem;
    gap: .75rem;
}
.register_text {
    margin-top: .75rem;
}