.main_userpage {
    display: grid;
    text-align: center;
    padding-bottom: 10rem;
    gap: .5rem;
}

.form-container table {
    width: 30rem;
    border-collapse: collapse;
}

.form-container table th, .form-container table td {
    font-family: var(--font-family-primary);
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(155, 155, 155);
}

.form-container table th {
    background-color: var(--main-color);
}

.btn_userpg {
    margin-top: 1.5rem;
}